@import '@/styles/mixins.scss';

.selectCity {
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
  width: 100%;

  @include query(md) {
    & {
      width: 300px;
    }
  }
}
