@import './normalize.scss';
@import './mixins.scss';
@import './variables.scss';
html,
body {
  max-width: $xl;
  margin: 0 auto;
  min-height: 100vh;
}
body {
  padding: 0 2rem 3rem 2rem;
  @include query(xl) {
    & {
      padding: 0 3rem 3rem 3rem;
    }
  }
  @include query(xl) {
    & {
      padding: 0 6rem 10rem 6rem;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}
