@import './normalize.scss';
@import './mixins.scss';
@import './variables.scss';
html,
body {
  max-width: $xl;
  margin: 0 auto;
  min-height: 100vh;
}
body {
  padding: 1rem;
  @include query(xl) {
    & {
      padding: 0 5rem 5rem 5rem;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}
